@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');
  
//------------------------------ Variables ----------------------------------//
$font-family: "DM Sans", serif;
$purple: #69247C;
$red: #d0252a;
$white: #ffffff;
$black: #000000;
$text-primary: #34343E;